[user]
    email = me@stevenwichers.com
    name = Steven Wichers

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = 227
    frag = magenta bold
    commit = 227 bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    branch = yellow bold
    added = green
    changed = yellow
    untracked = red

[core]
    compression = 9
    excludesfile = ~/.gitignore.global
    filemode = false
    eol = lf
    autocrlf = input
    whitespace = space-before-tab,tab-in-indent,trailing-space,cr-at-eol
    sharedrepository = 1
    editor = nano

[diff]
    renames = copies

[alias]
    co = checkout
    st = status -s
    df = diff
    br = branch
    ci = commit
    rb = rebase
    unstage = reset HEAD
    undo = reset --soft HEAD^
    tree = log --graph --pretty=oneline --abbrev-commit
    difflog = log -p
    last = log -n1 --pretty=oneline --abbrev-commit
    lg = !git tree --pretty=detailtree

[log]
    decorate = short
    date = relative
    showroot = true
    commit = abbrev

[branch]
    autosetupmerge = true

[receive]
    denyNonFastForwards = true

[pretty]
    detailtree = %C(yellow)%h %Cgreen%cr %C(bold blue)%cN%Creset -%C(yellow)%d%Creset %s
    lprintfoutput = %h%x00%cd%x00%s%x00%an%x00%d
    lgprintfoutput = %x00%h%x00%s%x00%cd%x00%an%x00%d
    oneline2 = %C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(24,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D

[push]
    default = simple

[include]
    path = ~/.gitconfig.local

[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[pull]
	rebase = true
