"*":
  core:
    disabledPackages: [
      "language-gfm"
    ]
    telemetryConsent: "no"
  drupal:
    fileTypesPhp: "module,install,inc,test,profile"
  "exception-reporting":
    userId: "df1baf3b-2c89-4855-949a-8d9f424692f2"
  "linter-ui-default":
    panelHeight: 246
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
